html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.form-verify {
  max-width: 430px;
  padding: 15px;
}

.form-verify .form-floating:focus-within {
  z-index: 2;
}

.form-verify input[type='text'] {
  margin-bottom: 5px;
  margin-left: 0px;
}

label {
  margin-left: 10px;
}
